.al{
    position: relative;
    top: -225px;
    left: 457px
}
.ak{
    position: relative;
    top: -87px;
    left: 139px;
}
.as{
    position: relative;
    top: -58px;
    left: 330px;
}
.az{
    position: relative;
    top: -250px;
    left: 86px;
}
.ar{
    position: relative;
    top: -250px;
    left: 304px;
}
.ca{
    position: relative;
    top: -320px;
    left: -52px;
}
.co{
    position: relative;
    top: -317px;
    left: 106px;
}
.ct{
    height: 17px;
    position: relative;
    top: -347px;
    left: 536px;
}
.de{
    height: 17px;
    position: relative;
    top: -299px;
    left: 516px;
}
.dc{
    height: 17px;
    position: relative;
    top: -282px;
    left: 496px;
}
.fl{
    position: relative;
    top: -167px;
    left: 335px
}
.ga{
    position: relative;
    top: -227px;
    left: 281px
}
.gu{
    height: 17px;
    position: relative;
    top: -73px;
    left: 220px
}
.hi{
    height: 17px;
    position: relative;
    top: -93px;
    left: -16px
}
.id{
    position: relative;
    top: -405px;
    left: -145px
}
.il{
    position: relative;
    top: -332px;
    left: 117px
}
.in{
    position: relative;
    top: -335px;
    left: 132px
}
.ia{
    position: relative;
    top: -360px;
    left: 26px
}
.ks{
    position: relative;
    top: -305px;
    left: -48px
}
.ky{
    height: 17px;
    position: relative;
    top: -296px;
    left: 89px
}
.la{
    position: relative;
    top: -200px;
    left: -16px
}
.me{
    position: relative;
    top: -448px;
    left: 205px
}
.md{
    height: 17px;
    position: relative;
    top: -315px;
    left: 236px
}
.ma{
    height: 17px;
    position: relative;
    top: -393px;
    left: 217px
}
.mi{
    position: relative;
    top: -385px;
    left: -15px;
}
.nm{
    position: relative;
    top: -248px;
    left: -445px;
}
.ms{
    position: relative;
    top: -223px;
    left: -100px;
}
.mo{
    position: relative;
    top: -305px;
    left: -160px;
}
.mt{
    position: relative;
    top: -447px;
    left: -364px;
}
.ne{
    position: relative;
    top: -352px;
    left: -282px;
}
.nv{
    position: relative;
    top: -345px;
    left: -500px;
}
.nh{
    height: 17px;
    position: relative;
    top: -420px;
    left: 56px
}
.nj{
    height: 17px;
    position: relative;
    top: -330px;
    left: 36px
}
.mn{
    position: relative;
    top: -420px;
    left: -143px;
}
.ny{
    position: relative;
    top: -395px;
    left: -114px;
}
.nc{
    position: relative;
    top: -276px;
    left: -148px;
}
.nd{
    position: relative;
    top: -442px;
    left: -425px;
}
.mp{
    position: relative;
    top: -145px;
    left: -100px;
}
.oh{
    position: relative;
    top: -362px;
    left: 492px;
}
.ok{
    position: relative;
    top: -278px;
    left: 304px;
}
.or{
    position: relative;
    top: -440px;
    left: 35px;
}
.pa{
    position: relative;
    top: -380px;
    left: 488px;
}
.pr{
    position: relative;
    top: -90px;
    left: 480px;
}
.ri{
    height: 17px;
    position: relative;
    top: -387px;
    left: 576px;
}
.sc{
    position: relative;
    top: -267px;
    left: 415px;
}
.sd{
    position: relative;
    top: -418px;
    left: 153px;
}
.tn{
    position: relative;
    top: -287px;
    left: 295px;
}
.tx{
    position: relative;
    top: -218px;
    left: 123px;
}
.ut{
    position: relative;
    top: -350px;
    left: -46px;
}
.vt{
    height: 17px;
    position: relative;
    top: -458px;
    left: 456px;
}
.vi{
    position: relative;
    top: -110px;
    left: 423px
}
.va{
    position: relative;
    top: -328px;
    left: 292px;
}
.wa{
    position: relative;
    top: -490px;
    left: -188px;
}
.wv{
    position: relative;
    top: -338px;
    left: 217px;
}
.wi{
    position: relative;
    top: -418px;
    left: 90px;
}
.wy{
    position: relative;
    top: -400px;
    left: -127px;
}